<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464046965720-vjg944irjnqs7n9ghnu9a007h8o6d1nd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464046965720-vjg944irjnqs7n9ghnu9a007h8o6d1nd</string>
	<key>API_KEY</key>
	<string>AIzaSyCldbTdGYZIWzCiVmDCShJRr6YCAeAIdBc</string>
	<key>GCM_SENDER_ID</key>
	<string>464046965720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kokojong.SeSAC-Motto</string>
	<key>PROJECT_ID</key>
	<string>sesac-motto</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac-motto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464046965720:ios:993dba4518b3c05297e8ad</string>
</dict>
</plist>